@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:wght@300&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap");

header nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(18, 18, 62);
}

.left {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.right {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul a {
  text-decoration: none;
  color: white;
}

header nav ul li {
  list-style: none;
  margin: 0 23px;
  cursor: pointer;
}

nav ul li a:hover {
  font-weight: bolder;
  color: rgb(153, 153, 220);
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.firstSection > div {
  width: 33%;
}

.leftSection {
  font-size: 2rem;
}

.rightSection img {
  width: 80%;
}

#element {
  color: rgb(153, 153, 220);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}

.footer {
  background-color: rgb(18, 18, 62);
  display: flex;
  height: 233px;
}

.secondSection h1 {
  font-size: 42px;
  text-align: center;
  line-height: 1.3em;
  letter-spacing: 0.8rem;
}

.secondSection h5 {
  font-size: 30px;
  text-align: center;
  font-family: "Wix Madefor Display", sans-serif;
  margin-top: 11px;
  letter-spacing: 5px;
}
